# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env
.envrc

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE
# =========================
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# =========================
# Build / Packaging
# =========================
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# =========================
# Testing
# =========================
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/
.hypothesis/
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# =========================
# Database
# =========================
db.sqlite3
db.sqlite3-journal

# =========================
# Artifacts
# =========================

# Ignore everything in artifacts
artifacts/*

# Keep placeholder
!artifacts/.gitkeep

# Keep transformed_data folder
!artifacts/transformed_data/

# Ignore everything inside transformed_data
artifacts/transformed_data/*

# Keep production folder
!artifacts/transformed_data/production/

# Keep production artifacts
!artifacts/transformed_data/production/metadata.pkl
!artifacts/transformed_data/production/recommendation_dict.pkl
!artifacts/transformed_data/production/title_to_movieid.pkl
!artifacts/transformed_data/production/movieid_to_title.pkl
!artifacts/transformed_data/production/embeddings.npy
!artifacts/transformed_data/production/faiss.index

# =========================
# Explicitly Ignore Training Data
# =========================
artifacts/raw_data/
artifacts/ingested/
artifacts/validated/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary Files
# =========================
tempCodeRunnerFile.py


venv/
.venv/
env/

__pycache__/
*.pyc

.ipynb_checkpoints/

logs/
*.log

.DS_Store


venv/
build/
CineFlicx.egg-info/
__pycache__/
logs/
research/
research.ipynb
.env